<nav>
    <h3 class="logo"> Laila Ebrahim </h3>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        {%comment%}
        <li><a href="{% url 'skills' %}">Skills</a></li>
        
            <li><a href="{% url 'signup' %}">SignUp</a></li>
        {% endcomment %}
        <li><a href="{% url 'projects' %}">Projects</a></li>
        <li><a href="{% url 'contributers'%}"> Contributors</a><li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        {% if request.user.is_authenticated%}
            <li><a href="{% url 'account' request.user.portfolio_user.id%}">Account</a></li>
            <li>
                <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" style="font: 1em; margin-right: 0; border: none; background: none; padding: 0; margin: 0; cursor: pointer; color: rgb(255, 253, 151);">Logout</button>
                </form>
            </li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
</nav>