<nav>
    <h3 class="logo"> Laila Ebrahim </h3>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        {%comment%}
        <li><a href="{% url 'skills' %}">Skills</a></li>
        
            <li><a href="{% url 'signup' %}">SignUp</a></li>
        {% endcomment %}
        <li><a href="{% url 'projects' %}">Projects</a></li>
        <li><a href="{% url 'contact' %}">Contact Me</a></li>
        {% if request.user.is_authenticated%}
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
</nav>