{% load static%}
<footer class="section-p1">.
        <div class="col">
            <a><img src='{% static "css/imgs/logo_transparent.png" %}' class="logo"></a>
            <h4>Contacts</h4>
            <p><strong>Address:</strong> 123 Main Street, City, Country</p>
            <p><strong>Phone:</strong> +1 123-456-7890</p>
            <p><strong>Email:</strong> example@example.com</p>
            <div class="socials">
                <h4>Follow Us</h4>
                <div class="social-icons">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>About</h4>
            <a href="">About Us</a>
            <a href="">Contact Us</a>
        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="">Sign Up</a>
            <a href="">Log In</a>
            <a href="">Log Out</a>
            <a href="">Your Cart</a>
            <a href="">Your Account Info</a>
        </div>
        <div class="col install">
            <h4>Install App</h4>
            <p>From App store or Google Store
                <div class="row">
                    <img src="{% static 'css/imgs/appstore.png'%}" alt="appstore">
                    <img src="{% static 'css/imgs/googlestore.png'%}" alt="googleplay">
                </div>
            </p>
            <p>Payment Methods
                <div class="row">
                    <img src="{% static 'css/imgs/pay1.png'%}" alt="mastercard">
                    <img src="{% static 'css/imgs/pay2.png'%}" alt="paypal">
                </div>
            </p>
        </div>
        <div class="copyrights">
            <p>&copy; 2024 Laila Ebrahim. All rights reserved.</p>
        </div>
</footer>