        {% load static%}
        <section id="header">
            <a><img src='{% static "css/imgs/logo_transparent.png" %}' class="logo"></a>
            <div>
                <ul id="navbar">
                    <li><a class="active" href="{% url "home" %}">Home</a></li>
                    <li><a href=#>Shop</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">SignUp</a></li>
                    <li><a href="#">LogIn</a></li>
                    <li><a href="#">LogOut</a></li>
                    <li><a href="#"><i class="fa-solid fa-bag-shopping"></i></a><li>
                </ul>
            </div>
        </section>