{% extends "UserApp/base.html" %}
{% load static%}
{% block hero %}
    <section id="hero-cart">
        <h1 style="margin-left:40px;">Did you add all you need ?</h1>
    </section>
{% endblock %}
{% block content %}
        <div class="cart-container">
            <div class="cart-content">
                <h2 class="cart-title">Your Order Details</h2>
                    <table class="cart-table">
                    <thead>
                        <tr>
                        <td>Product</td>
                        <td>Quantity</td>
                        <td>Price Per Item</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in cart.cart_products.all %}
                        <tr class="cart-item">
                        <td>{{ product.product.name }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.product.price }}$</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                    <form action="" method='POST'>
                    {% csrf_token %}
                    {{form}}
                    <br><h3 class="cart-action-title">Ready To check out?</h3>
                    <a class="cart-action-button">
                    <button class="button-50" role="submit">Order</button>
                    </a>
                    </form>
            </div>
        </div>
    </div>
{% endblock %}