{% extends "UserApp/base.html" %}
{% load static%}
{% block hero %}
    <section id="hero-Products">
        <h4>Enjoy The Summer Offers</h4>
        <h1>All You Need & more ..... </h1>
        <p>Save more with promocodes & up to 70% off !</p>
    </section>
{% endblock %}
{% block content %}
    <section id="products" class="section-p1">
            <h2>{{category.category}}</h2>
            <p>Made Specially for you to take care of you</p>
            <div class="product-container">
                {% for product in category_products %}
                <div class="product">
                    <a style="text-decoration: none; color:#222;" href="{% url 'product' product.id%}">
                        <img src="{{product.image.url}}" alt="product">
                    </a>
                    <div class="product-description">
                        <span>{{product.category}}</span>
                        <h3>{{product.name}}</h3>
                        <h4>{{product.price}}$</h4>
                        <p>{{product.description}}</p>
                        {% if product.quantityInStock > 0 %}
                            {% if user.is_authenticated %}
                            <a href="{% url 'cart'%}?product={{product.id}}"><i class="fa-solid fa-cart-shopping"></i></a>
                            {%else%}
                            <a href="{% url 'login' %}"><i class="fa-solid fa-cart-shopping"></i></a>
                            {%endif%}
                        {% else %}
                        <h4 style="color:red; margin-top:40px;">Out Of Stock</h4>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if category_products_page.has_other_pages%}
            <div class="paginate">
                {% if category_products_page.has_previous%}
                <a href="?category={{category}}?page={{category_products_page.previous_page_number}}"><i class="fa-solid fa-chevron-left"></i></a>
                {%endif%}
                {% if category_products_page.has_next%}
                <a href="?category={{category}}?page={{category_products_page.next_page_number}}"><i class="fa-solid fa-chevron-right"></i></a>
                {%endif%}
            </div>
            {%endif%}
        </section>
{% endblock %}