{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopie</title>
    <link rel='stylesheet' href='{% static "css/styles.css" %}'>
</head>
<body>
    <header>
        {% include "partials/navbar.html" %}
        {% block hero %}
        {% endblock %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        {% include "partials/footer.html" %}
    </footer>

    <script src="script.js"></script>
    <script src="https://kit.fontawesome.com/176dc6acf1.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {% block js%}
    {% endblock %}
</body>
</html>