{% extends 'UserApp/base.html'%}
{% load static%}
{% block content%}
<section id="user-account">
    <div class="user-account-box">
        <div class="left-box">
            <img src="{{shopieuser.image.url}}" alt="Your Profile Picture">
        </div>
        <div class="right-box">
            <div class="user-account-info">
                <form class="login-form signup-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h3 style="margin-bottom:20px;">Update Your Information</h3>
            <div class="form-rows">
                {% for field in form %}
                    <div class="form-group update-form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <div class="error-message">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="signup-button">
                <button class="button-50" role="button" type="submit">Update</button>
            </div>
        </form>
            </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}