{% extends "portfolioApp/base.html" %}
{% load static %}
{% block title %}
    <title>Contributor</title>
{% endblock title %}
{% block content %}
    <div class="main-container">
    <div class="container-left">
            <h1>Hi, I'm {{contributor.name}}</h1> <br>
            <p>I am a {{contributor.contribution}}.<br>
            <p>{{contributor.email}}</p><br>
            <a href={{contributor.github_link}}> GitHub Link</a><br>
            <a href={{contributor.linkedin_link}}> LinkedIn Link</a><br>
    </div>
    <div class="container-right">
        <img src="{{contributor.image.url}}">
    </div>
    </div>
{%endblock content%}