{% extends "portfolioApp/base.html" %}
{% load static %}  <!-- Add this line to load the static template tag library -->
{% block title %}
    <title>Contact</title>
{% endblock title %}
{% block content %}
<div class="container">
  <br><h1> Skills</h1><br>
    <div class="skills">
        <div class="skill">
        <h3>HTML</h3>
        <div class="bar">
            <div class="html"></div>
        </div>
        </div>
        <div class="skill">
        <h3>CSS</h3>
        <div class="bar">
            <div class="css"></div>
        </div>
        </div>
        <div class="skill">
        <h3>JavaScript</h3>
        <div class="bar">
            <div class="js"></div>
        </div>
        </div>
        <div class="skill">
        <h3>Python</h3>
        <div class="bar">
            <div class="python"></div>
        </div>
        </div>
        <div class="skill">
        <h3>Django</h3>
        <div class="bar">
            <div class="django"></div>
        </div>
        </div>

{% endblock content%}