{% extends "portfolioApp/base.html" %}
{% load static %}
{% block title %}
    <title>Update Project</title>
{% endblock title %}
{% block content %}

<div class="container project">
    <div class="up">
        <h1>Update Project</h1>
    </div>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        {{form}}
    <br><h3> Want to Create A new Technology ?</h3>
    <a href="{% url 'createTechnology' %}"><button class="button-50" role="button" type="button">Create Technology</button></a>
    <br><button class="button-50" role="button" type="submit">Update</button>
    </form>
</div>

{% endblock content %}